.variables__wrapper h3 {
    text-align: center;
}

.variables__wrapper {
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

.variables__results li {
    cursor: pointer;
}

.variables__wrapper table {
    margin: 0px;
}