button {
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: black;
    color: white;
    transition: all .2s all;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(73, 6, 6);
}