header {
    position: relative;
}

.header__wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__wrapper img {
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
}

.header__wrapper .header__logic {
    display: flex;
    align-items: center;
}